---
import ItemMenu from './components/ItemMenu.astro';
---

<div class="hidden sm:flex gap-5 cursor-pointer">
    <ItemMenu label="home" href="#home" />
    <ItemMenu label="trailer" href="https://www.youtube.com/watch?v=QcCMY3GM20A&ab_channel=MiSe%C3%B1al"
        isLink={true} />
    <ItemMenu label="contact" href="#contact" />
</div>